<table>
    <tr>
        <th>Built-in pipes</th>
        <th>Custom pipe</th>
        <th>Chaining pipes</th>
    </tr>
    <tr>
        <td>
            <computer-component></computer-component>
        </td>
        <td>
            <div>
                <app-power-boost-calculator></app-power-boost-calculator>
            </div>
            <div>
                <app-pipe-type></app-pipe-type>
            </div>
        </td>
        <td>
            <p> The chained hero's birthday is: date | date:'fullDate' | uppercase </p>
            <p> {{ date | date:'fullDate' | uppercase}} </p>

        </td>
    </tr>

</table>